**Chapter 6 
STRINGS**

**String Data Type**

In [1]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2
print(bob)

Hellothere

In [2]:
str3 = '123'
str3 = str3 + 1

TypeError: can only concatenate str (not "int") to str

In [3]:
x = int(str3) + 1
print(x)

124

**Reading and 
Converting**

In [4]:
name = input('Enter:')
print(name)

Enter:Mehar
Mehar

In [5]:
apple = input('Enter:')
y = apple - 10

Enter:20

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [8]:
apple = input('Enter:')
z = int(apple) - 10
print(z)

Enter:100
90

**Looking Inside Strings**

In [9]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [10]:
x = 3
w = fruit[x - 1]
print(w)

n

**A Character Too Far**

In [13]:
zot ='abc'
print(zot[5])

IndexError: string index out of range

**Strings Have Length**

In [14]:
fruit = 'banana'
print(len(fruit))

6

**Looping Through Strings**

In [15]:
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [17]:
fruit = 'banana'
for letter in fruit: 
    print(letter)

b
a
n
a
n
a

**Looping and Counting**

In [20]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' :
        count = count + 1
print(count)

3

**Looking Deeper into in**

In [24]:
for letter in 'banana':
    print(letter)

#For is a Loop
#Letter is an Iteration Variable
#Banana is a 6 Character String

b
a
n
a
n
a

**Slicing Strings**

In [25]:
s = 'Monty Python'
print(s[0:4])

print(s[6:7])

print(s[6:20])

Mont
P
Python

In [26]:
s = 'Monty Python'
print(s[:2])

print(s[8:])

print(s[:])

Mo
thon
Monty Python

**String Concatenation**

In [27]:
a = 'Hello'
b = a + 'There'
print(b)

c = a + ' ' + 'There'
print(c)

HelloThere
Hello There

**Using in as a Logical Operator**

In [30]:
fruit = 'banana'
'n' in fruit

True

In [31]:
'm' in fruit

False

In [32]:
'nan' in fruit

True

In [33]:
if 'a' in fruit :
    print('Found it!')

Found it!

**String Comparison**

In [37]:
if word == 'banana':
    print('All right, bananas.')
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.
All right, bananas.

**String Library**

In [38]:
greet = 'Hello Bob'
zap = greet.lower()
print(zap)

print(greet)
print('Hi There'.lower())

hello bob
Hello Bob
hi there

In [39]:
stuff = 'Hello world'
type(stuff)

str

In [40]:
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**Searching a String**

In [41]:
fruit = 'banana'
pos = fruit.find('na')
print(pos)

2

In [42]:
aa = fruit.find('z')
print(aa)

-1

**Making everything UPPER CASE**

In [43]:
greet = 'Hello Bob'
nnn = greet.upper()
print(nnn)

HELLO BOB

In [44]:
www = greet.lower()
print(www)

hello bob

**Search and Replace**

In [45]:
greet = 'Hello Bob'
nstr = greet.replace('Bob','Jane')
print(nstr)

Hello Jane

In [46]:
nstr = greet.replace('o','X')
print(nstr)

HellX BXb

**Stripping Whitespace**

**lstrip() and rstrip() remove whitespace at the left or right**

**strip() removes both beginning and ending whitespace**

In [50]:
greet = ' Hello Bob '
greet.lstrip()

'Hello Bob '

In [51]:
greet.rstrip()

' Hello Bob'

In [52]:
greet.strip()

'Hello Bob'

**Prefixes**

In [54]:
line = 'Please have a nice day'
line.startswith('Please')

True

In [55]:
line.startswith('p')

False

**Parsing and Extracting**

In [56]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@')
print(atpos)

sppos = data.find(' ',atpos)
print(sppos)

host = data[atpos+1 : sppos]
print(host)

21
31
uct.ac.za

**Two Kinds of String**

In Python 3, all strings are Unicode